[Unit]
Description=CapAuto Captive Portal Automator
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/capauto
StandardOutput=append:%h/.capauto/capauto.log
StandardError=append:%h/.capauto/capauto.err

[Install]
WantedBy=default.target
